@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$title-font-stack: "Indie flower";
$item-font-stack: "Oswald";
$main-color: black;

h1 {
    font-family: $item-font-stack, cursive;
}

