@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$title-font-stack: "Indie flower";
$item-font-stack: "Oswald";
$main-color: black;
$background: #887766;

span {
    font-family: $item-font-stack, cursive;
}

/********LINKS******/

.link-footer{
    text-decoration: none;
    color:$main-color;
}

.link-footer:hover{
    text-decoration: underline;
    // color: lightslategray;
}

.footer{
    background-color: $background;
}

// footer {
//     display: flex;
//     flex-direction: flex;
//     margin-top: auto;
// }