@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$title-font-stack: "Indie flower";
$item-font-stack: "Oswald";
$main-color: black;

h1, .activity-list .slogan {
    font-family: $item-font-stack, cursive;
}

/********LINKS******/

.link {
    text-decoration: none;
    color:$main-color;
}

.link:hover {
    color: $main-color;
}

.link-title:hover{
    text-decoration: underline;
    color: #6a8478;
}

.link-title{
    color: $main-color;
    text-decoration: none;
}

/********IMAGE AND TITLE*******/

.card{
    width: 18rem;
}

h2{
    font-family: $title-font-stack, cursive;
}

.card-img-top:hover{
    box-shadow: 10px 5px 5px #887766;
}